@import '../../../index.scss';

.wrapper_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $DARK_HALF_GREEN;
  padding: 30px;
  border-radius: 8px;

  .loader {
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side, #14cc8f 90%, #0000);
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 40% 40%;
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  40%,
  50% {
    background-position: 100% 100%, 100% 0, 0 0, 0 100%;
  }
  90%,
  100% {
    background-position: 100% 100%, 0 100%, 0 0, 100% 0;
  }
}
