@import '../../index.scss';

.message_container_component {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $DARK_PRIMARY_GREEN;
  overflow: hidden;

  &.light {
    background-color: $LIGHT_PRIMARY_WHITE;
    &::after,
    &::before {
      background-color: rgba($LIGHT_PRIMARY_WHITE, 0.8);
    }
    .center {
      &::-webkit-scrollbar-thumb {
        background-color: $LIGHT_BORDER_GREY;
      }
    }
  }

  &::after,
  &::before {
    position: absolute;
    content: '';
    z-index: 9;
    width: 100%;
    height: 77px;
    background-color: rgba($DARK_PRIMARY_GREEN, 0.8);

    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px) saturate(300%) contrast(120%);
  }

  &::after {
    bottom: 0;
    height: 105px;
  }

  &::before {
    top: 0;
  }

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 10;

    .user_receiver {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .receiver_image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .receiver_info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        span {
          font-weight: 600;
        }
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-top: -77px;
    padding: 0 20px;
    overflow-y: scroll;

    @include COMMON_SCROLLBAR;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .send_item {
      margin: 0 auto;
      width: 80%;
    }

    .send_setting {
      display: flex;
      gap: 5px;
    }
  }
}
