@import '../../index.scss';

.sidebar_component {
  height: 100%;
  padding: 20px;

  .sidebar_header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .owner_info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 10px;

      .user_info {
        display: flex;
        align-items: center;
        gap: 15px;

        span {
          display: inline-block;
          max-width: 15ch;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 18px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .sidebar_main {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;

    &:hover {
      .chat_list {
        &::-webkit-scrollbar {
          opacity: 0;
        }
      }
    }

    .chat_list {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 12px;
      width: 100%;
      // overflow-y: hidden;
      position: relative;
      transition: 0.2s linear;
      overflow-y: scroll;

      &:hover {
        // overflow-y: scroll;
        .chat_list_item {
          margin-right: 0;
        }
      }

      &::-webkit-scrollbar {
        position: absolute;
        top: 0;
        left: 0;

        width: 12px;
        transition: opacity 0.2s linear;
      }

      &:hover::-webkit-scrollbar {
        opacity: 1;
        transition: opacity 0.2s linear;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $DARK_BORDER_GREY;
        transition: background-color 0.2s linear;
      }

      &.light {
        &::-webkit-scrollbar-thumb {
          background-color: $LIGHT_BORDER_GREY;
        }

        .chat_list_item {
          &:hover {
            background-color: $LIGHT_BORDER_GREY;
          }
          .receiver_info {
            .username {
              color: $LIGHT_TITLE_TEXT;
            }
            .last_message {
              color: $LIGHT_SUBTITLE_TEXT;
            }
          }
        }
      }

      .chat_list_item {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 12px;
        border-radius: 8px;
        transition: 0.1s linear;
        cursor: pointer;

        &:hover {
          background-color: $DARK_PRIMARY_GREEN;
        }

        .receiver_image {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .receiver_info {
          display: flex;
          flex-direction: column;

          .username {
            color: $DARK_TITLE_TEXT;
            font-size: 18px;
          }

          .last_message {
            font-size: 14px;
            color: $DARK_SUBTITLE_TEXT;
          }
        }
      }
    }
  }
}
